<style>
    .has-error {
        color: red;
    }
</style>
<form name="empForm" novalidate>

    {{ empForm.lastName.$invalid }}
    {{ !empForm.lastName.$pristine }}
    <div ng-class="{ 'has-error' : empForm.lastName.$invalid && !empForm.lastName.$pristine }">
        <label>LastName</label>
        <input type="text" name="lastName" class="form-control" ng-model="emp.lastName" required>
        <p ng-show="empForm.lastName.$invalid && !empForm.lastName.$pristine">Your LastName is required.</p>
    </div>
    {{ empForm.firstName.$invalid }}
    {{ !empForm.firstName.$pristine }}
    <div ng-class="{ 'has-error' : empForm.firstName.$invalid && !empForm.firstName.$pristine }">
        <label>FirstName</label>
        <input type="text" name="firstName" class="form-control" ng-model="emp.firstName" ng-minlength="3" ng-maxlength="8" required>
        <p ng-show="empForm.firstName.$invalid && !empForm.firstName.$pristine && empForm.firstName.$error.required">Your FirstName is required.</p>
        <p ng-show="empForm.firstName.$error.minlength">FirstName is too short.</p>
        <p ng-show="empForm.firstName.$error.maxlength">FirstName is too long.</p>
    </div>

    <button ng-click="add(empForm.$valid)" ng-disabled="empForm.$invalid">新增</button>
    <button ng-click="update(emp,empForm.$valid)" ng-disabled="empForm.$invalid">更新</button>
</form>